.heading {
  background-color: rgb(255, 218, 145);
  text-align: center;
  border-bottom: 2px solid black;
}

.heading > p,
h1 {
  margin: 0;
  padding: 0;
}

.heading > h1 {
  font-family: 'Reenie Beanie', Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: 70px;
}

.heading > p {
  font-family: 'Rosarivo', Arial, Helvetica, sans-serif;
  font-size: 12px;
  padding-bottom: 15px;
}

.tab-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: 'Rosarivo', Arial, Helvetica, sans-serif;
  padding-bottom: 10px;
  margin-top: 10px;
  border-bottom: 2px solid black;
}

.tab {
  cursor: pointer;
}

i {
  margin-right: 10px;
}

#search {
  font-family: 'Rosarivo', Arial, Helvetica, sans-serif;
  border-radius: 4px;
  border: 1px solid black;
  margin-right: 13px;
}

.search-form {
  padding: 10px;
  text-align: right;
}

#search-button {
  font-family: 'Rosarivo', Arial, Helvetica, sans-serif;
  border-radius: 4px;
  border: 0;
  background-color: #000000c7;
  color: white;
  font-weight: bold;
  width: 110px;
  height: 23px;
}

#cuisineType {
  font-family: 'Rosarivo', Arial, Helvetica, sans-serif;
  margin-right: 15px;
  border-radius: 4px;
  border: 1px solid black;
}

h2 {
  font-family: 'Reenie Beanie', Arial, Helvetica, sans-serif;
  font-weight: 200;
  border-bottom: 2px solid black;
  width: 240px;
  margin-left: 30px;
}

.recipe {
  position: relative;
  border: 2px solid black;
  overflow: hidden;
  width: 230px;
  height: 245px;
  margin: 30px;
  border-radius: 20px;
  text-align: center;
  background-color: rgba(255, 166, 0, 0.123);
}

img {
  max-width: 100%;
  height: 180px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.img-background {
  background-color: rgb(236, 226, 206);
  width: 226px;
  height: 180px;
  background-size: cover;
  background-position: center;
}

.search-header > h1 {
  font-family: 'Reenie Beanie', Arial, Helvetica, sans-serif;
  border-bottom: 1px solid black;
  text-align: center;
  font-weight: 100;
  margin: 20px;
}

.shopping-header > h1 {
  font-family: 'Reenie Beanie', Arial, Helvetica, sans-serif;
  border-bottom: 1px solid black;
  text-align: center;
  font-weight: 100;
  margin: 20px;
}

.recipe > i {
  position: absolute;
  z-index: 1;
  top: 10px;
  left: 10px;
  font-size: 20px;
  cursor: pointer;
  filter: drop-shadow(0 0 4px white);
}

.recipe > p:hover {
  text-decoration: underline;
  cursor: pointer;
}

.recipe > i.shopping-cart {
  top: 40px;
}
